language: python
dist: xenial
sudo: required

sudo: false

cache:
  directories:
  - .eggs

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10
  - DJANGO_VERSION=1.11
  - DJANGO_VERSION=2.2
  - DJANGO_VERSION=3.0
  - DJANGO_VERSION=3.2

jobs:
  exclude:
    - python: 2.7
      env: DJANGO_VERSION=2.2
    - python: 2.7
      env: DJANGO_VERSION=3.0
    - python: 3.5
      env: DJANGO_VERSION=3.0
    - python: 2.7
      env: DJANGO_VERSION=3.2
    - python: 3.5
      env: DJANGO_VERSION=3.2
    - python: 3.8
      env: DJANGO_VERSION=1.8
    - python: 3.8
      env: DJANGO_VERSION=1.9
    - python: 3.8
      env: DJANGO_VERSION=1.10
    - python: 3.8
      env: DJANGO_VERSION=1.11

install:
  - pip install coveralls flake8 urllib3
  - pip install django==${DJANGO_VERSION}

script:
  - coverage run --branch --source=revproxy setup.py test
  - flake8 revproxy
  - coverage report --fail-under=100 --show-missing

after_script:
  - coveralls
