language: python

sudo: false

cache:
  directories:
  - .eggs

python:
  - "2.7"
  - "3.5"
  - "3.6"

env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10

install:
  - pip install coveralls flake8 urllib3
  - pip install django==${DJANGO_VERSION}

script:
  - coverage run --branch --source=revproxy setup.py test
  - flake8 revproxy
  - coverage report --fail-under=100 --show-missing

after_script:
  - coveralls
